@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    background-color: #444;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
    font-weight: 100;
}